body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

.voffset {
    margin-top: 2px; 
}
.voffset1 {
    margin-top: 5px;
}
.voffset2 {
    margin-top: 10px;
}
.voffset3 {
    margin-top: 20px;
}
.voffset4 {
    margin-top: 40px;
}
.voffset5 {
    margin-top: 80px;
}

/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .notifications {
    position: relative;
}
    .navbar-inverse .notifications .badge {
        position: absolute;
        top: 8px;
        right: -1px;
        background: #a80a0a;
    }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(205, 40, 39, 0.55)
}

.navbar-brand {
    font-weight: 700px;
}
.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}
body {
    font-size: 17px;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    font-size: 17px;
    height: 44px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}
    .form-control :focus {
        border-color: #2196f3;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    -ms-border-radius: 9px;
    border-radius: 9px;
}

/*Page-level Styles */
.gigs {
    list-style: none;
}
.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .date {
    background: red;
    color: #ffffff;
    text-align: center;
    width: 60px;
    border-radius: 8px;
}
.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
 }
.gigs > li .date .day {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

.gigs > li .details{
    position: absolute;
    top: 0px;
    left: 70px;
}
.gigs > li .details .artist {
    font-weight: bold;
    display: block;
}
.gigs > li .details .genre {
    font-size: 15px;
}
.gigs > li .actions {
    font-size: 15px;
    display: none;
}
.gigs > li:hover .actions {
    display: block;
}
ul .notifications {
    list-style: none;
    padding-left: 0;
}
ul .notifications > li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
    ul .notifications > li:last-child {
        border-bottom: none;
    }
span.hightlight {
    font-weight: bold;
}
#searchGigs {
    width: 300px;
}
#Google {
    background-color: rgb(211, 61, 68);
   
}

#Facebook {
    background-color: rgb(16, 56, 119);
}
.circular-square {
    border-radius: 50%;
}
textarea {
    width: 500px;
    height: 130px;
    border-radius: 10px;
}